<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
    <div class="aboutContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                <a href="/">HOME</a>
                <a href="">ABOUT US</a>
                <a href="">OUR SERVICES</a>
                <a href="">OUR PRODUCTS</a>
                <a href="">SIGN UP</a>
                <a href="">LOG IN</a>
            </div>
            <div class="right-2">
                <button onclick="OpenRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="CloseRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/HomepageImages/Chicken.jpg" alt="">
                <div class="about-message">
                    <h1>ABOUT US</h1>
                </div>
            </div>
            <div class="body-content"></div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>