<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
    <div class="aboutContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                <a href="/">HOME</a>
                <a href="">ABOUT US</a>
                <a href="">OUR SERVICES</a>
                <a href="">OUR PRODUCTS</a>
                <a href="">SIGN UP</a>
                <a href="">LOG IN</a>
            </div>
            <div class="right-2">
                <button onclick="OpenRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="CloseRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/HomepageImages/Chicken.jpg" alt="">
                <div class="about-message">
                    <h1>ABOUT US</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="about-us">
                    <h1>NEVOLINE AGROVET LIMITED</h1>
                    <br>
                    <p>Nevoline Agrovet Ltd was officially registered with the registrar of company in 2010 
                        under the registrar of companies Act. Nevoline Agrovet is a first class Agrochemicals, Seeds 
                        and Veterinary products distributor in the entire western region of Kenya. <br><br>
                        We are a reliable and competitive supplier of a wide range of agricultural inputs and within easy reach as we are strategically located in 
                        Kakamega town. We also have branches in other towns like Bungoma, Busia and Vihiga. <br><br>
                        We understand that every single task we undertake is a challenge with its own problems, but it also 
                        offers its own opportunities and progress. <br><br>
                        No matter the aspect of the task at hand, Nevoline Agrovet Ltd will always go out of its way to 
                        establish and maintain the personal touch of confidence and dependability required to maintain close 
                        relationships with all customers. <br><br>
                        We are a company wit personal resources, the capability to communicate with different cultures, the willingness to explore 
                        new areas, the breadth of vision to perceive a need and most important of all, the ability to meet that need. <br><br>
                        With our continuously expanding scope of operations, we anticipate and are well positioned to meet an ever growing demand for competition, 
                        as the developing economies of the area continue to require more diversified products and services with good skills.
                    </p><br>
                    <div class="mission">
                        <div>
                          <div class="mission-top">
                            <p id="icon"><i class="fa-solid fa-check"></i></p>
                          </div>
                          <h2>Our Mission</h2>
                          <p>To provide the best quality, affordable and outstanding products. To constantly strive to meet and exceed our customers' 
                            needs and expectations of quality farm inputs while making a lasting impact on the farming community.
                          </p>
                        </div>
                        <div>
                            <div class="mission-top">
                                <p id="icon"><i class="fa-solid fa-chart-simple"></i></p>
                            </div>
                              <h2>Our Vision</h2>
                              <p>To be the first class company distributing quality agrochemicals and other farm inputs in the 
                                vast region of western region and to make Nevoline Agrovet a household name for Agrochemicals, Veterinary Drugs and other Farm Inputs.
                              </p>
                        </div>
                    </div><br>
                    <div class="button">
                        <a href="">GET STARTED</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>