<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="">DASHBOARD</a>
                    <a href="">FEEDS</a>
                    <a href="">DRUGS</a>
                    <a href="">FARM MACHINERY</a>
                    <a href="">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="right_1Showing()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="right_1Notshowing()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/HomepageImages/Hare.jpg" alt="">
                <div class="admin-message">
                    <h1>ADMIN DASHBOARD</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>