<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
    <div class="adminContainer">
        <div class="top">
            <div class="topmost">
                <h3>AGROVET ADMIN</h3>
                <div class="right">
                    <p><a href="">Log out</a></p>
                    <p>Main</p>
                </div>
            </div>
            <button onclick="showAdminTabs()"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="center">
            <h3>Hello, Welcome</h3>
            <div class="centerTop">
                <button onclick="closeAdminTabs()"><i class="fa-solid fa-x"></i></button>
                <p><a href="">DashBoard</a></p>
                <p><a href="">Feeds</a></p>
                <p><a href="">Drugs</a></p>
                <p><a href="">Seeds</a></p>
                <p><a href="">Others</a></p>
                <p><a href="">Books</a></p>
                <p><a href="">nev</a></p>
                <p><a href="">Veterinary Doctors</a></p>
            </div>
        </div>
        <div class="items">
            <div>
                <p><i class="fa-solid fa-cow"></i></p>
                <p>Total Feeds</p>
                <p>45</p>
            </div>
            <div>
                <p><i class="fa-solid fa-prescription-bottle-medical"></i></p>
                <p>Total Drugs</p>
                <p>45</p>
            </div>
            <div>
                <p><i class="fa-solid fa-seedling"></i></p>
                <p>Total Seeds</p>
                <p>45</p>
            </div>
            <div>
                <p><i class="fa-solid fa-tractor"></i></p>
                <p>Total Equipment</p>
                <p>45</p>
            </div>
            <div>
                <p><i class="fa-solid fa-user-doctor"></i></p>
                <p>Total Doctors</p>
                <p>45</p>
            </div>
            <div>
                <p><i class="fa-solid fa-users"></i></p>
                <p>Total Employees</p>
                <p>45</p>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom1"></div>
            <div class="bottom2"></div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>