<!DOCTYPE html>
<html lang="en">
<%-include('./partials/header.ejs') %>
<body>
  <div class="homeContainer">
    <div class="top">
        <div class="left">
            <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
        </div>
        <div class="right-1">
            <a href="">HOME</a>
            <a href="">ABOUT US</a>
            <a href="">OUR SERVICES</a>
            <a href="">OUR PRODUCTS</a>
            <a href="">SIGN UP</a>
            <a href="">LOG IN</a>
        </div>
        <div class="right-2">
            <button onclick="showRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
            <button onclick="closeRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>
    <div class="body">
      <div class="body-top">
        <img src="HomepageImages/IMG-20240531-WA0004.jpg" alt="">
        <div class="welcome_message">
          <h1>Welcome to Nevoline Agrovet Limited</h1>
          <p>We are a reliable and competitive supplier of a wide range of Agricultural products</p>
        </div>
      </div>
      <div class="body-content">
        <div class="whoWeAre">
          <h1>Who We Are</h1>
          <p><span></span></p>
          <br>
          <p>We are a company that is distinct for better and affordable products in Agrochemicals, farm tools and equipment, veterinary 
            products, fertilisers, drip irrigation kits and certified seeds. It is our commitment to innovatively come up with not just the products, but 
            solutions to the problems and needs of our esteemed customers both in domestic and cooperate segments.
          </p>
          <br>
          <p><a href="">LEARN MORE</a></p>
        </div>
        <div class="logo">
          <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <script src="Vanilla.js"></script>
</body>
</html>