<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
    <div class="servicesContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                <a href="/">HOME</a>
                <a href="/about">ABOUT US</a>
                <a href="/ourServices">OUR SERVICES</a>
                <a href="/ourProducts">OUR PRODUCTS</a>
                <a href="/signup">SIGN UP</a>
                <a href="/login">LOG IN</a>
            </div>
            <div class="right-2">
                <button onclick="showingRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="notshowingRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/HomepageImages/Yams.jpg" alt="">
                <div class="services-message">
                    <h1>OUR SERVICES</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="content">
                    <div class="content-body">
                        <img src="/HomepageImages/Consultations.jpg" alt="">
                        <div>
                            <h2>Consultation</h2>
                            <br>
                            <p>We Specialize in providing advice in all matters concerning the agricultural farming. 
                                Our audience includes individual farmers, companies and organizations.
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/Soil Testing.jpg" alt="">
                        <div>
                            <h2>Soil testing and Fertilizer Services</h2>
                            <br>
                            <p>You may have found the right fertilizer for your farm, but without the proper amount of fertilizer 
                                for your treatments, your farm will not succeed.
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/Training farmers.jpg" alt="">
                        <div>
                            <h2>Training Farmers</h2>
                            <br>
                            <p>Agricultural production systems are a sustainable way of providing nutritious and diversified foods</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/Crop nutrition.jpg" alt="">
                        <div>
                            <h2>Crop nutrition</h2>
                            <br>
                            <p>Yields and quality of products from crops are strongly linked to the supply of nutrients</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/Irrigation.jpg" alt="">
                        <div>
                            <h2>Irrigation</h2>
                            <br>
                            <p>Irrigation systems are the most efficient water and nutrient delivery system for growing crops.</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/cart.jpg" alt="">
                        <div>
                            <h2>Online Shopping</h2>
                            <br>
                            <p>Buy our goods online and get them delivered at your doorstep.</p>
                        </div>
                    </div>
                </div>
               <div>
               </div>
            </div>
           
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>