<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
   <div class="signupContainer">
    <div class="top">
        <div class="left">
            <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
        </div>
        <div class="right-1">
            <a href="/">HOME</a>
                <a href="/about">ABOUT US</a>
                <a href="/ourServices">OUR SERVICES</a>
                <a href="/ourProducts">OUR PRODUCTS</a>
                <a href="/signUp">SIGN UP</a>
                <a href="">LOG IN</a>
        </div>
        <div class="right-2">
            <button onclick="right1_Showing()" id="openTab"><i class="fa-solid fa-bars"></i></button>
            <button onclick="right1_Notshowing()" id="closeTab"><i class="fa-solid fa-x"></i></button>
        </div>
    </div>
    <div class="body">
        <div class="body-top">
            <img src="/HomepageImages/nursery.jpg" alt="">
            <div class="signup-message">
                <h1>SIGN UP</h1>
            </div>
        </div>
        <div class="body-content">
            <div class="content">
                <%if(successMessage.length>0){ %>
                    <div class="alert alert-success">
                        <%=successMessage %>
                    </div>
                <% } %>
                <%if(errorMessage.length>0){ %>
                    <div class="alert alert-danger">
                        <%=errorMessage %>
                    </div>
                <% } %>
                <form action="/signup" method="post">
                    <label for="username">USERNAME</label><br>
                    <input type="text" id="username" name="username"><br>

                    <label for="phoneNumber">PHONE NUMBER</label><br>
                    <input type="text" id="phoneNumber" name="phoneNumber"><br>

                    <label for="email">EMAIL ADDRESS</label><br>
                    <input type="address" id="phoneNumber" name="email"><br>

                    <label for="password">PASSWORD</label><br>
                    <input type="password" id="password" name="password"><br>

                    <div class="button">
                        <button>REGISTER</button>
                    </div>
                    <p>Already have an account? <a href="">log in</a></p>
                </form>
            </div>
        </div>
    </div>
   </div>
   <script src="Vanilla.js"></script>
</body>
</html>