<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
<body>
    <div class="signupContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/NEVOLINE_LOGO.png" alt="NEVOLINE">
                <h2>NEVOLINE AGROVET</h2>
            </div>
            <div class="right">
                <a href="/">HOME</a>
            </div>
        </div>
        <div class="body">
            <div class="left">
                <img src="/HomepageImages/cow.jpg" alt="WELCOME TO NEVOLINE AGROVET" loading="lazy">
            </div>
            <div class="right">
                <form action="/signup" method="post">
                    <h3>REGISTRATION FORM</h3>
                        <div class="errorMessage">
                            <% if(errorMessage){ %>
                                <p id="errorMessage"><%=errorMessage%></p>
                            <% } %>
                        </div>
                    <div>
                        <label for="username">
                            USERNAME: <br>
                            <input type="text" name="username" placeholder="Username"> <br>
                        </label>
                    </div>
                    <div>
                        <label for="phoneNumber">
                            PHONE NUMBER: <br>
                            <input type="text" name="phoneNumber" placeholder="phone number"> <br>
                        </label>
                    </div>
                    <div>
                        <label for="email">
                            EMAIL ADDRESS: <br>
                            <input type="text" name="email" placeholder="email address"> <br>
                        </label>
                    </div>
                    <div>
                        <label for="password">
                            PASSWORD: <br>
                            <input type="password" name="password" placeholder="password"> <br>
                        </label>
                    </div>
                    <button type="submit">SIGN UP</button>
                    <p id="account">Already have an account?<a href="/login">Log in</a></p>
                </form>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>