*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
* a {
    text-decoration: none;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.homeContainer {
    width: 99vw;
    height: max-content;
}
.homeContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.homeContainer .top a {
    color: black;
}
.homeContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.homeContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.homeContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeContainer .top .right-1 a {
    font-weight: bold;
}
.homeContainer .top .right-2{
    display: none;
}
.homeContainer .body .body-top {
    width: 99vw;
    height: 70vh;
}
.homeContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(2px); */
}
.homeContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 50vh;
    left: 30vw;
    padding: 3px;
}
.homeContainer .body .body-top div p {
    color: #228B22;
}
.homeContainer .body .body-content {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 2vw;
    padding: 0 18vw;
    padding-bottom: 5vh;
}
.homeContainer .body .body-content div{
    width: 30vw;
    /* height: 45vh; */
    height: max-content;
}
.homeContainer .body .body-content .whoWeAre h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .Our-services h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .Our-products h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .logo img {
    width: inherit;
    height: 40vh;
    object-fit: cover;
}
.homeContainer .body .body-content .logo p {
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .logo a {
    padding: 1px;
    border: 2px solid #03C03C;
    border-radius: 5px;
    text-decoration: none;
    color: #03C03C;
}
/* Styling the about page */
.aboutContainer{
    width: 99vw;
    height: max-content;
}
.aboutContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.aboutContainer .top a {
    color: black;
}
.aboutContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.aboutContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.aboutContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutContainer .top .right-1 a {
    font-weight: bold;
}
.aboutContainer .top .right-2{
    display: none;
}
.aboutContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.aboutContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.aboutContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.aboutContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.aboutContainer .body .body-content .about-us {
    width: 80vw;
    height: max-content;
}
.aboutContainer .body .body-content .about-us h1{
    display: flex;
    justify-content: center;
    text-decoration: underline wavy #03C03C;
}
.aboutContainer .body .body-content .about-us p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutContainer .body .body-content .mission{
    width: inherit;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 2vw;
    padding: 0 8vw;
}
.aboutContainer .body .body-content .mission div{
    width: 30vw;
    height: max-content;
    padding: 1vw;
    border-radius: 10px;
    background-color: #03C03C;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutContainer .body .body-content .mission div .mission-top{
    width: 28vw;
    height: max-content;
    display: flex;
    justify-content: center;
}
.aboutContainer .body .body-content .mission div h2{
    display: flex;
    justify-content: center;
    color: black;
}
.aboutContainer .body .body-content .mission div #icon{
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 1vw;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    color: #03C03C;
}
.aboutContainer .body .body-content .about-us .button{
    display: flex;
    justify-content: center;
}
.aboutContainer .body .body-content .about-us .button a{
    padding: 1px;
    border: 2px solid #03C03C;
    border-radius: 5px;
    text-decoration: none;
    color: #03C03C;
}
/* Styling ourServices page */
.servicesContainer{
    width: 99vw;
    height: max-content;
}
.servicesContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.servicesContainer .top a {
    color: black;
}
.servicesContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.servicesContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.servicesContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicesContainer .top .right-1 a {
    font-weight: bold;
}
.servicesContainer .top .right-2{
    display: none;
}
.servicesContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.servicesContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.servicesContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.servicesContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.servicesContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.servicesContainer .body .body-content .content .content-body{
    width: 30vw;
    height: max-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.servicesContainer .body .body-content .content .content-body img{
    width: inherit;
    height: 30vh;
    object-fit: fill;
}
.servicesContainer .body .body-content .content .content-body div{
    width: inherit;
    height: max-content;
    padding: 2vw;
}
.servicesContainer .body .body-content .content .content-body div h2{
    display: flex;
    justify-content: center;
}
/* Styling tourProducts page */
.productsContainer{
    width: 99vw;
    height: max-content;
}
.productsContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.productsContainer .top a {
    color: black;
}
.productsContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.productsContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.productsContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productsContainer .top .right-1 a {
    font-weight: bold;
}
.productsContainer .top .right-2{
    display: none;
}
.productsContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.productsContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.productsContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.productsContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.productsContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.productsContainer .body .body-content .content .content-body{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productsContainer .body .body-content .content .content-body:first-of-type{
    background-image: url('/HomepageImages/animal\ drugs.jpg');
    background-size: cover;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(2){
    background-image: url('/HomepageImages/animal\ feeds.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(3){
    background-image: url('/HomepageImages/Farm\ machinery.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(4){
    background-image: url('/HomepageImages/seeds.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body div {
    background-color: rgb(255, 255, 255,70%);
}

/*Styling the sign up page*/
.signupContainer{
    width: 99vw;
    height: max-content;
}
.signupContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.signupContainer .top a {
    color: black;
}
.signupContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.signupContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.signupContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signupContainer .top .right-1 a {
    font-weight: bold;
}
.signupContainer .top .right-2{
    display: none;
}
.signupContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.signupContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.signupContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.signupContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}
.signupContainer .body .body-content .content {
    width: 50vw;
    height: max-content;
    padding: 2vh 7.5vw;
}
.signupContainer .body .body-content .content form {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.signupContainer .body .body-content .content form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.signupContainer .body .body-content .content form input {
    width: 30vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    border: none;
}
.signupContainer .body .body-content .content form .button {
    display: flex;
    justify-content: center;
}
.signupContainer .body .body-content .content form .button button {
    background-color: #03C03C;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Styling the Log in page*/
.loginContainer {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.loginContainer .top{
    width: inherit;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
     background-color: #E5E4E2;
}
.loginContainer .top .left{
    display: flex;
}
.loginContainer .top .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loginContainer .top .left h2{
    display: flex;
    align-items: center;
}
.loginContainer .top .right{
    display: flex;
    justify-content: flex-end;
}
.loginContainer .top .right a {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(23, 222, 26);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer .body{
    display: flex;
    width: inherit;
    height: 84vh;
    background-color: #F7F7F7;
}
.loginContainer .body .left{
    width: 60vw;
    height: inherit;
}
.loginContainer .body .left img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.loginContainer .body .right{
    width: 40vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer .body .right form{
    width: 20vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 5px;
    background-color: #E5E4E2;
    border-radius: 8px;
}
.loginContainer .body .right form h3 {
    display: flex;
    justify-content: center;
}
.loginContainer .body .right form input {
    border: 1px solid;
}
.loginContainer .body .right form #main{
    border-radius: 5px;
    margin-left: 10px;
}
.loginContainer .body .right form div{
    display: flex;
    justify-content: space-between;
}
.loginContainer .body .right form div input{
    position: relative;
    top: 4px;
}
.loginContainer .body .right form button{
    margin: 5px 75px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(23, 222, 26);
    color: white;
    border: none;
}
.loginContainer .body .right form #account{
    display: flex;
    justify-content: center;
}
.loginContainer .body .right form a{
    color: #03C03C;
}
.loginContainer .body .right form .errorMessage{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer .body .right form #errorMessage{
    height: 12px;
    width: inherit;
    color: red;
    font-size: 0.7rem;
    animation: fadeOut 5s forwards;
    overflow: hidden;
}
/*Styling the admin container page*/
.adminContainer {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.adminContainer .top {
    width: inherit;
    height: 5vh;
}
.adminContainer .top .topmost {
    width: inherit;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #E5E4E2;
}
.adminContainer .top .topmost .right {
    width: 10vw;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminContainer .top .topmost .right a {
    color: black;
}
.adminContainer .top button {
    display: none;
}
.adminContainer .center {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #03C03C;
}
.adminContainer .center .centerTop {
    width: 70vw;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f4f4f4;
}
.adminContainer .center .centerTop a{
    color: #228B22;
}
.adminContainer .center .centerTop button {
    display: none;
}
.items {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20vh;
    padding: 0 2vw;
} 
  .items div {
    width: 12vw;
    height: inherit;
    border-radius: 10px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E5E4E2;
}
.items div p:first-of-type{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03C03C;
}
.items div p:first-of-type i {
    font-size: 2rem;
    color: white;
}
.adminContainer .bottom {
    width: inherit;
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 12vh;
}
.adminContainer .bottom .bottom1 {
    width: 52vw;
    height: 45vh;
    border-radius: 10px;
    background-color: #E5E4E2;
}
.adminContainer .bottom .bottom2 {
    width: 32vw;
    height: 45vh;
    border-radius: 10px;
    background-color: #E5E4E2;
}
/* Styling the adminFeedsContainer */
.adminFeedsContainer {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.adminFeedsContainer .top1 {
    width: inherit;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #E5E4E2;
}
.adminFeedsContainer .body {
    background-color: #03C03C;
}
.adminFeedsContainer .body .top {
    width: inherit;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: #F8F8FF;
}
.adminFeedsContainer .body .top .left {
    width: 30vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.adminFeedsContainer .body .top .left button {
    display: none;
}
.adminFeedsContainer .body .top .left div{
    display: flex;
}
.adminFeedsContainer .body .top .left div p:first-of-type{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03C03C;
    color: white;
}
.adminFeedsContainer .body .top .left div p:nth-of-type(2){
    display: flex;
    align-items: center;
}
.adminFeedsContainer .body .top .right{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminFeedsContainer .body .top .right p a{
    text-decoration: none;
    color: #228B22;
}
.adminFeedsContainer .body .top .right button {
    display: none;
}
.adminFeedsContainer .body .center {
    width: inherit;
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminFeedsContainer .body .center .alert {
    position: absolute;
    top: 21vh;
    padding: 2px;
    background-color: #F2F3F4;
    animation: fadeOut 5s forwards;
    overflow: hidden;
}
.adminFeedsContainer .body .center .alert-success{
    color: #1F75FE;
}
.adminFeedsContainer .body .center .alert-danger{
    color: red;
}
.adminFeedsContainer .body .center .tableContent{
    width: 70vw;
    height: 70vh;
    border-radius: 5px;
    background-color:  #F2F3F4;
}
.adminFeedsContainer .body .center .tableContent .tableContentTop {
    width: inherit;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #E5E4E2;
    border-radius: 5px;
}
.adminFeedsContainer .body .center .tableContent .tableContentTop p input{
    width: 30vw;
    height: 3vh;
    color: #03C03C;
    border-radius: 5px;
    border: 1px solid #03C03C;
}
.adminFeedsContainer .body .center .tableContent .tableContentTop p span {
    background-color: #03C03C;
    color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
}
.adminFeedsContainer .body .center .tableContent .tableContentTop button{
    background-color: #03C03C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    font-family: "Sedan SC", serif;
}
.adminFeedsContainer .body .center .tableContent .table{
    width: 65vw;
    border: 1px solid #228B22;
    margin: 2vh 2.5vw;
}
.adminFeedsContainer .body .center .tableContent .addProduct{
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 32vh;
    left: 30vw;
    background-image: url('/HomepageImages/Pigs.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.adminFeedsContainer .body .center .tableContent .addProduct #close{
    position: relative;
    bottom: 28vh;
    right: 6.85vw;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: #1B1B1B;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct {
    width: 35vw;
    height: 42vh;
    background-color: rgb(255,255,255,90%);
    border-radius: 10px;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct h4{
    display: flex;
    justify-content: center;
    color: #03C03C;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct input{
    width: 22vw;
    height: 4vh;
    margin-left: 3vw;
    border-radius: 5px;
    border: 1.5px solid #03C03C;
    background-color: #E5E4E2;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct div {
    margin: 1vh 1vw;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct .button{
    display: flex;
    justify-content: center;
}
.adminFeedsContainer .body .center .tableContent .addProduct #addProduct .button button{
    background-color: #03C03C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    font-family: "Sedan SC", serif;
    display: flex;
    justify-content: center;
}
.adminFeedsContainer .body .center .tableContent .table table{
    width: inherit;
    border-collapse: collapse;
}
.adminFeedsContainer .body .center .tableContent .table table th,td{
    border: 1px solid #03C03C;
    text-align: center;
}
.adminFeedsContainer .body .center .tableContent .table table tr td img{
    width: 50px;
    height: 50px;
}
.adminFeedsContainer .body .center .tableContent .table table tr td button{
    background-color: #03C03C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    font-family: "Sedan SC", serif;
}
.adminFeedsContainer .body .center .tableContent .table table tr td:last-of-type .buttons{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.adminFeedsContainer .body .center .tableContent .table table tr td .buttons button:nth-of-type(2){
    background-color: red;
}
.adminFeedsContainer .body .center .tableContent .table table tr th:nth-of-type(2){
    width: 30vw;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing{
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 32vh;
    left: 30vw;
    background-image: url('/HomepageImages/Pigs.jpg');
    background-size: cover;
    display: none;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing #closeEditProduct{
    position: relative;
    /* bottom: 28vh; */
    right: 24.2vw;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: #1B1B1B;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails{
    width: 50vw;
    height: 55.5vh;
    display: flex;
    justify-content: center;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing{
    width: 35vw;
    height: 50vh;
    text-align: start;
    background-color: rgb(255,255,255,90%);
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing h4{
    display: flex;
    justify-content: center;
    color: #03C03C;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing input{
    width: 22vw;
    height: 4vh;
    margin-left: 3vw;
    border-radius: 5px;
    border: 1.5px solid #03C03C;
    background-color: #E5E4E2;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing div {
    margin: 1vh 1vw;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing .button{
    display: flex;
    justify-content: center;
}
.adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing .button button{
    background-color: #03C03C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8rem;
    font-family: "Sedan SC", serif;
    display: flex;
    justify-content: center;
}
/* Styling the div that opens after the delete button is clicked */
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion{
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 32vh;
    left: 30vw;
    background-image: url('/HomepageImages/Pigs.jpg');
    background-size: cover;
    display: none;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion #closeProductDeletion{
    position: relative;
    /* bottom: 28vh; */
    right: 24.2vw;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: #1B1B1B;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct{
    width: 50vw;
    height: 55.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct{
    width: 35vw;
    height: 20vh;
    text-align: start;
    background-color: rgb(255,255,255,90%);
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct h4{
    display: flex;
    justify-content: center;
    color: #03C03C;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct div{
    margin: 0 1vw;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct div span{
    color: #03C03C;
}
.adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct .button{
    width: 33vw;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    margin-top: 4vh;
}




/*Media querrying*/
@media only screen  and (max-width:900px) {
    /*Media-querying the landing page*/
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    /* Media querying the home page */
    .homeContainer {
        width: 99vw;
        height: max-content;
    }
    .homeContainer .top {
        width: inherit;
        height: 10vh;
    }
    .homeContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .homeContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .homeContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .homeContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .homeContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .homeContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .homeContainer .body .body-top {
        width: 99vw;
        height: 70vh;
    }
    .homeContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .homeContainer .body .body-top div{
        width: 80vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 10vw;
        padding: 3px;
    }
    .homeContainer .body .body-top div p {
        color: #228B22;
    }
    .homeContainer .body .body-content {
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(1,65vw);
        gap: 2vw;
        padding: 0 18vw;
        padding-bottom: 7vh;
    }
    .homeContainer .body .body-content div{
        width: 65vw;
        /* height: 58vh; */
        height: max-content;
    }
    .homeContainer .body .body-content .whoWeAre p:nth-of-type(2){
       font-size: 1.2rem;
    }
    .homeContainer .body .body-content .Our-services p:nth-of-type(2){
        font-size: 1.2rem;
     }
     .homeContainer .body .body-content .Our-products p:nth-of-type(2){
        font-size: 1.2rem;
     }
     .homeContainer .body .body-content .logo img {
        width: inherit;
        height: 50vh;
        object-fit: cover;
    }
    /* Media querying the about page */
     .aboutContainer {
        width: 99vw;
        height: max-content;
    }
    .aboutContainer .top {
        width: inherit;
        height: 10vh;
    }
    .aboutContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .aboutContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .aboutContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .aboutContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .aboutContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .aboutContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .aboutContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .aboutContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .aboutContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .aboutContainer .body .body-content .about-us p{
        font-size: 1.2rem;
    }
    .aboutContainer .body .body-content .about-us .mission{
        width: inherit;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,63vw);
        gap: 2vw;
        padding: 0 8vw;
    }
    .aboutContainer .body .body-content .about-us .mission div{
        width: 63vw;
        height: max-content;
        font-size: 1.2rem;
    }
    .aboutContainer .body .body-content .about-us .mission div .mission-top{
        width: 61vw;
        height: max-content;
        display: flex;
        justify-content: center;
    }
    .aboutContainer .body .body-content .about-us .mission div h2{
        display: flex;
        justify-content: center;
        color: black;
    }
    .aboutContainer .body .body-content .about-us .mission div #icon{
        width: max-content;
        font-size: 1.5rem;
    }
    /* Media querying ourServices page */
    .servicesContainer {
        width: 99vw;
        height: max-content;
    }
    .servicesContainer .top {
        width: inherit;
        height: 10vh;
    }
    .servicesContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .servicesContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .servicesContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .servicesContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .servicesContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .servicesContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .servicesContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .servicesContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .servicesContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .servicesContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,63vw);
        gap: 5vw;
        padding: 2vh 7.5vw;
    }
    .servicesContainer .body .body-content .content .content-body{
        width: 63vw;
        height: max-content;
    }
    .servicesContainer .body .body-content .content .content-body div{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .servicesContainer .body .body-content .content .content-body div p{
        font-size: 1.2rem;
    }
    /* Media querying ourProducts page */
    .productsContainer {
        width: 99vw;
        height: max-content;
    }
    .productsContainer .top {
        width: inherit;
        height: 10vh;
    }
    .productsContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .productsContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .productsContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .productsContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .productsContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .productsContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .productsContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .productsContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .productsContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .productsContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,62vw);
        gap: 5vw;
        padding: 2vh 7.5vw;
    }
    .productsContainer .body .body-content .content .content-body{
        width: 62vw;
        height: 40vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    /*Media-querying the signuppage*/
    .signupContainer {
        width: 99vw;
        height: max-content;
    }
    .signupContainer .top {
        width: inherit;
        height: 10vh;
    }
    .signupContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .signupContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .signupContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .signupContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .signupContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .signupContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .signupContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .signupContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .signupContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .signupContainer .body .body-content {
        display: flex;
        justify-content: center;
        padding: 5vh 0;
    }
    .signupContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        padding: 2vh 7.5vw;
    }
    .signupContainer .body .body-content .content form input {
        width: 60vw;
        height: 4vh;
    
    }
    /*Media querrying the log in page*/
    .loginContainer .top {
        display: flex;
        flex-direction: column;
    }
    .loginContainer .top .left {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .loginContainer .top .right{
        width: inherit;
        display: flex;
        justify-content: flex-start;
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    .loginContainer .body{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 84vh;
    }
    .loginContainer .body .left{
        width: inherit;
        height: 35vh;
    }
    .loginContainer .body .left img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .loginContainer .body .right{ 
        width: inherit;
        height: 47vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginContainer .body .right form{
        width: 70vw;
        height: 33vh;
        margin-bottom: 2vh;
        padding: 5px 0;
    }
    .loginContainer .body .right form div{
        font-size: 0.8rem;
        width: 65vw;
        display: flex;
        justify-content: space-between;
    }
    .loginContainer .body .right form #errorMessage{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Media querying the admin page*/
     .adminContainer{
        width: 100vw;
        height: max-content;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom:20vh;
    }
    .adminContainer .top {
        width: inherit;
        height: 8vh;
    }
    .adminContainer .top .topmost {
        width: inherit;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vw 20px;
    }
    .adminContainer .top .topmost .right{
        width: 30vw;
    }
    .adminContainer .top button {
        display: block;
    }
    .adminContainer .top i {
        font-size: 1.5rem;
    }
    .adminContainer .center {
        width: inherit;
        height: 3vh;
    }
    .adminContainer .center .centerTop {
        width: 50vw;
        height: 50vh;
        padding: 5vh 0;
        position: absolute;
        top: 8vh;
        left: -1px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    .adminContainer .center .centerTop button {
        position: absolute;
        right: 1px;
        top: 1px;
        display: block;
    }
    .adminContainer .center .centerTop button i {
        font-size: 1.5rem;
    }
    .adminContainer .items {
        width: 88vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2,43vw);
        position: static;
        gap: 2vw;
        margin: 1vh 5vw;
        padding: 0;
    }
    .adminContainer .items div {
        width: 43vw;
        height: 40vw;
        border-radius: 10px;
        padding: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
   .adminContainer .items div p:first-of-type{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adminContainer .items div p:first-of-type i {
        font-size: 2rem;
    }
    .adminContainer .bottom {
        width: inherit;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        padding: 2vh 0;
        overflow-y: scroll;
    }
    .adminContainer .bottom .bottom1 {
        width: 90vw;
        height: 30vh;
        border-radius: 10px;
    }
    .adminContainer .bottom .bottom2 {
        width: 90vw;
        height: 30vh;
        border-radius: 10px;
    } 
    /* Media querying the adminFeedsContainer */
    .adminFeedsContainer{
        width: 100vw;
       height: 99vh;
       overflow: hidden;
    }
    .adminFeedsContainer .top1{
        width: inherit;
        height: 5vh;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .adminFeedsContainer .body {
        width: inherit;
        height: 94vh;
    }
    .adminFeedsContainer .body .top{
        width: inherit;
        height: 5vh;
        padding: 0;
    }
    .adminFeedsContainer .body .top .left{
        width: inherit;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        padding-right: 35vw;
    }
    .adminFeedsContainer .body .top .left button {
        display: block;
    }
    .adminFeedsContainer .body .top .left button i {
        font-size: 1.5rem;
    }
    .adminFeedsContainer .body .top .left div{
        display: flex;
    }
    .adminFeedsContainer .body .top .left div p:first-of-type{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adminFeedsContainer .body .top .left div p:nth-of-type(2){
        display: flex;
        align-items: center;
    }
    .adminFeedsContainer .body .top .right{
        width: 40vw;
        height: 50vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 0;
        position: absolute;
        top: 10vh;
        display: none;
    }
    .adminFeedsContainer .body .top .right button {
        display: block;
        position: absolute;
        top: 0.1vh;
        left: 35vw;
    }
    .adminFeedsContainer .body .top .right button i {
        font-size: 1.2rem;
    }
    .adminFeedsContainer .body .center {
        width: 100vw;
        height: max-content;
        display: flex;
        justify-content: center;
    }
    .adminFeedsContainer .body .center .tableContent{
        width: 95vw;
        height: 100vh;
    }
    .adminFeedsContainer .body .center .tableContent .tableContentTop {
        width: inherit;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .adminFeedsContainer .body .center .tableContent .table{
        width: inherit;
        margin: 0;
    } 
    /* Media querying the adminFeeds addProduct */
    .adminFeedsContainer .body .center .tableContent .addProduct{
        width: 90vw;
        height: 50vh;
        position: absolute;
        top: 18vh;
        left: 4vw;
    }
    .adminFeedsContainer .body .center .tableContent .addProduct #close{
        position: relative;
        bottom: 23.5vh;
        right: 12.5vw;
    }
    .adminFeedsContainer .body .center .tableContent .addProduct #addProduct {
        width: 60vw;
        height: 32vh;
    }
    .adminFeedsContainer .body .center .tableContent .addProduct #addProduct input{
        width: 50vw;
        height: 3vh;
        margin-left: 3vw;
    }
    .adminFeedsContainer .body .center .tableContent .table table th,td{
        text-align: center;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .adminFeedsContainer .body .center .tableContent .table table th:nth-of-type(3){
      max-width: 20px;   
    }
    .adminFeedsContainer .body .center .tableContent .table table tr td .buttons #edit,#delete{
       font-size: 0.5rem;
       text-align: start;
    }
    .adminFeedsContainer .body .center .tableContent .tableContentTop p input{
        width: 50vw;
    }
    
    /* Media querying the adminFeeds editProduct */
    .adminFeedsContainer .body .center .tableContent .buttons .productEditing{
        width: 90vw;
        height: 50vh;
        position: absolute;
        top: 18vh;
        left: 4vw;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productEditing #closeEditProduct{
        position: relative;
        /* bottom: 23.5vh; */
        right: 42.5vw;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails{
        width: 90vw;
        height: 47vh;
        display: flex;
       justify-content: center;
       align-items: center;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing{
        width: 70vw;
        height: 40vh;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productEditing .editProductDetails #productEditing input{
        width: 50vw;
        height: 3vh;
        margin-left: 3vw;
    }
    /* Media querying productDeletion */
    .adminFeedsContainer .body .center .tableContent .buttons .productDeletion{
        width: 90vw;
        height: 45.5vh;
        position: absolute;
        top: 18vh;
        left: 4vw;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productDeletion #closeProductDeletion{
        position: relative;
        /* bottom: 28vh; */
        right: 42.5vw;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct{
        width: 90vw;
        height: 42.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct{
        width: 80vw;
        height: 12vh;
    }
     .adminFeedsContainer .body .center .tableContent .buttons .productDeletion .deleteProduct #deleteProduct .button{
        width: 77vw;
        margin-top: 2vh;
     }
}