*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
* a {
    text-decoration: none;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.homeContainer {
    width: 99vw;
    height: max-content;
}
.homeContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.homeContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.homeContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.homeContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.homeContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeContainer .top .right-1 a {
    font-weight: bold;
}
.homeContainer .top .right-2{
    display: none;
}
.homeContainer .body .body-top {
    width: 99vw;
    height: 70vh;
}
.homeContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(2px); */
}
.homeContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 50vh;
    left: 30vw;
    padding: 3px;
}
.homeContainer .body .body-top div p {
    color: #228B22;
}
.homeContainer .body .body-content {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 2vw;
    padding: 0 18vw;
    padding-bottom: 5vh;
}
.homeContainer .body .body-content div{
    width: 30vw;
    /* height: 45vh; */
    height: max-content;
}
.homeContainer .body .body-content .whoWeAre h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .whoWeAre p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .Our-services h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-services p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .Our-products h1 {
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:first-of-type{
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:first-of-type span {
    width: 10vw;
    border: 2px solid #03C03C;
    border-radius: 2px;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(3){
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .Our-products p:nth-of-type(3) a{
    text-decoration: none;
    background-color: #03C03C;
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.homeContainer .body .body-content .logo img {
    width: inherit;
    height: 40vh;
    object-fit: cover;
}
.homeContainer .body .body-content .logo p {
    width: inherit;
    display: flex;
    justify-content: center;
}
.homeContainer .body .body-content .logo a {
    padding: 1px;
    border: 2px solid #03C03C;
    border-radius: 5px;
    text-decoration: none;
    color: #03C03C;
}
/* Styling the about page */
.aboutContainer{
    width: 99vw;
    height: max-content;
}
.aboutContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.aboutContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.aboutContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.aboutContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.aboutContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutContainer .top .right-1 a {
    font-weight: bold;
}
.aboutContainer .top .right-2{
    display: none;
}
.aboutContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.aboutContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.aboutContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.aboutContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.aboutContainer .body .body-content .about-us {
    width: 80vw;
    height: max-content;
}
.aboutContainer .body .body-content .about-us h1{
    display: flex;
    justify-content: center;
    text-decoration: underline wavy #03C03C;
}
.aboutContainer .body .body-content .about-us p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutContainer .body .body-content .mission{
    width: inherit;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 2vw;
    padding: 0 8vw;
}
.aboutContainer .body .body-content .mission div{
    width: 30vw;
    height: max-content;
    padding: 1vw;
    border-radius: 10px;
    background-color: #03C03C;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutContainer .body .body-content .mission div .mission-top{
    width: 28vw;
    height: max-content;
    display: flex;
    justify-content: center;
}
.aboutContainer .body .body-content .mission div h2{
    display: flex;
    justify-content: center;
    color: black;
}
.aboutContainer .body .body-content .mission div #icon{
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 1vw;
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    color: #03C03C;
}
.aboutContainer .body .body-content .about-us .button{
    display: flex;
    justify-content: center;
}
.aboutContainer .body .body-content .about-us .button a{
    padding: 1px;
    border: 2px solid #03C03C;
    border-radius: 5px;
    text-decoration: none;
    color: #03C03C;
}
/* Styling ourServices page */
.servicesContainer{
    width: 99vw;
    height: max-content;
}
.servicesContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.servicesContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.servicesContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.servicesContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.servicesContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicesContainer .top .right-1 a {
    font-weight: bold;
}
.servicesContainer .top .right-2{
    display: none;
}
.servicesContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.servicesContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.servicesContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.servicesContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.servicesContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.servicesContainer .body .body-content .content .content-body{
    width: 30vw;
    height: max-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.servicesContainer .body .body-content .content .content-body img{
    width: inherit;
    height: 30vh;
    object-fit: fill;
}
.servicesContainer .body .body-content .content .content-body div{
    width: inherit;
    height: max-content;
    padding: 2vw;
}
.servicesContainer .body .body-content .content .content-body div h2{
    display: flex;
    justify-content: center;
}
/* Styling tourProducts page */
.productsContainer{
    width: 99vw;
    height: max-content;
}
.productsContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.productsContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.productsContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.productsContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.productsContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productsContainer .top .right-1 a {
    font-weight: bold;
}
.productsContainer .top .right-2{
    display: none;
}
.productsContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.productsContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.productsContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.productsContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.productsContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.productsContainer .body .body-content .content .content-body{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productsContainer .body .body-content .content .content-body:first-of-type{
    background-image: url('/HomepageImages/animal\ drugs.jpg');
    background-size: cover;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(2){
    background-image: url('/HomepageImages/animal\ feeds.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(3){
    background-image: url('/HomepageImages/Farm\ machinery.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body:nth-of-type(4){
    background-image: url('/HomepageImages/seeds.jpg');
    background-size: cover;
    background-position: center;
}
.productsContainer .body .body-content .content .content-body div {
    background-color: rgb(255, 255, 255,70%);
}

/*Styling the sign up page*/
.signupContainer{
    width: 99vw;
    height: max-content;
}
.signupContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.signupContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.signupContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.signupContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.signupContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signupContainer .top .right-1 a {
    font-weight: bold;
}
.signupContainer .top .right-2{
    display: none;
}
.signupContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.signupContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.signupContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.signupContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}
.signupContainer .body .body-content .content {
    width: 50vw;
    height: max-content;
    padding: 2vh 7.5vw;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.signupContainer .body .body-content .content .alert {
    display: flex;
    justify-content: center;
    animation: fadeOut 10s forwards;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signupContainer .body .body-content .content .alert-success{
    color: #1F75FE;
}
.signupContainer .body .body-content .content .alert-danger{
    color: red;
}
.signupContainer .body .body-content .content form {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.signupContainer .body .body-content .content form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.signupContainer .body .body-content .content form input {
    width: 30vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    border: none;
}
.signupContainer .body .body-content .content form .button {
    display: flex;
    justify-content: center;
}
.signupContainer .body .body-content .content form .button button {
    background-color: #03C03C;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signupContainer .body .body-content .content form p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.signupContainer .body .body-content .content form p a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #03C03C;
}
/* Styling the log in page */
.loginContainer{
    width: 99vw;
    height: max-content;
}
.loginContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.loginContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.loginContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.loginContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.loginContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginContainer .top .right-1 a {
    font-weight: bold;
}
.loginContainer .top .right-2{
    display: none;
}
.loginContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.loginContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.loginContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.loginContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}
.loginContainer .body .body-content .content {
    width: 50vw;
    height: max-content;
    padding: 2vh 7.5vw;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.loginContainer .body .body-content .content .alert {
    display: flex;
    justify-content: center;
    animation: fadeOut 10s forwards;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginContainer .body .body-content .content .alert-success{
    color: #1F75FE;
}
.loginContainer .body .body-content .content .alert-danger{
    color: red;
}
.loginContainer .body .body-content .content form {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.loginContainer .body .body-content .content form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.loginContainer .body .body-content .content form input {
    width: 30vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    border: none;
}
.loginContainer .body .body-content .content form .button {
    display: flex;
    justify-content: center;
}
.loginContainer .body .body-content .content form .button button {
    background-color: #03C03C;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginContainer .body .body-content .content form p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.loginContainer .body .body-content .content form p a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #03C03C;
}



/*Media querrying*/
@media only screen  and (max-width:900px) {
    /*Media-querying the landing page*/
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    /* Media querying the home page */
    .homeContainer {
        width: 99vw;
        height: max-content;
    }
    .homeContainer .top {
        width: inherit;
        height: 10vh;
    }
    .homeContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .homeContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .homeContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .homeContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .homeContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .homeContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .homeContainer .body .body-top {
        width: 99vw;
        height: 70vh;
    }
    .homeContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .homeContainer .body .body-top div{
        width: 80vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 10vw;
        padding: 3px;
    }
    .homeContainer .body .body-top div p {
        color: #228B22;
    }
    .homeContainer .body .body-content {
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(1,65vw);
        gap: 2vw;
        padding: 0 18vw;
        padding-bottom: 7vh;
    }
    .homeContainer .body .body-content div{
        width: 65vw;
        /* height: 58vh; */
        height: max-content;
    }
    .homeContainer .body .body-content .whoWeAre p:nth-of-type(2){
       font-size: 1.2rem;
    }
    .homeContainer .body .body-content .Our-services p:nth-of-type(2){
        font-size: 1.2rem;
     }
     .homeContainer .body .body-content .Our-products p:nth-of-type(2){
        font-size: 1.2rem;
     }
     .homeContainer .body .body-content .logo img {
        width: inherit;
        height: 50vh;
        object-fit: cover;
    }
    /* Media querying the about page */
     .aboutContainer {
        width: 99vw;
        height: max-content;
    }
    .aboutContainer .top {
        width: inherit;
        height: 10vh;
    }
    .aboutContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .aboutContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .aboutContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .aboutContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .aboutContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .aboutContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .aboutContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .aboutContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .aboutContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .aboutContainer .body .body-content .about-us p{
        font-size: 1.2rem;
    }
    .aboutContainer .body .body-content .about-us .mission{
        width: inherit;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,63vw);
        gap: 2vw;
        padding: 0 8vw;
    }
    .aboutContainer .body .body-content .about-us .mission div{
        width: 63vw;
        height: max-content;
        font-size: 1.2rem;
    }
    .aboutContainer .body .body-content .about-us .mission div .mission-top{
        width: 61vw;
        height: max-content;
        display: flex;
        justify-content: center;
    }
    .aboutContainer .body .body-content .about-us .mission div h2{
        display: flex;
        justify-content: center;
        color: black;
    }
    .aboutContainer .body .body-content .about-us .mission div #icon{
        width: max-content;
        font-size: 1.5rem;
    }
    /* Media querying ourServices page */
    .servicesContainer {
        width: 99vw;
        height: max-content;
    }
    .servicesContainer .top {
        width: inherit;
        height: 10vh;
    }
    .servicesContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .servicesContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .servicesContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .servicesContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .servicesContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .servicesContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .servicesContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .servicesContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .servicesContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .servicesContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,63vw);
        gap: 5vw;
        padding: 2vh 7.5vw;
    }
    .servicesContainer .body .body-content .content .content-body{
        width: 63vw;
        height: max-content;
    }
    .servicesContainer .body .body-content .content .content-body div{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .servicesContainer .body .body-content .content .content-body div p{
        font-size: 1.2rem;
    }
    /* Media querying ourProducts page */
    .productsContainer {
        width: 99vw;
        height: max-content;
    }
    .productsContainer .top {
        width: inherit;
        height: 10vh;
    }
    .productsContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .productsContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .productsContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .productsContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .productsContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .productsContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .productsContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .productsContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .productsContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .productsContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,62vw);
        gap: 5vw;
        padding: 2vh 7.5vw;
    }
    .productsContainer .body .body-content .content .content-body{
        width: 62vw;
        height: 40vh;
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    /*Media-querying the signuppage*/
    .signupContainer {
        width: 99vw;
        height: max-content;
    }
    .signupContainer .top {
        width: inherit;
        height: 10vh;
    }
    .signupContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .signupContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .signupContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .signupContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .signupContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .signupContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .signupContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .signupContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .signupContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .signupContainer .body .body-content {
        display: flex;
        justify-content: center;
        padding: 5vh 0;
    }
    .signupContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        padding: 2vh 7.5vw;
    }
    .signupContainer .body .body-content .content form input {
        width: 60vw;
        height: 4vh;
    }
    /*Media querrying the log in page*/
    .loginContainer {
        width: 99vw;
        height: max-content;
    }
    .loginContainer .top {
        width: inherit;
        height: 10vh;
    }
    .loginContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .loginContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .loginContainer .top .right-1{
        width: 99vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10.5vh;
        background-color: rgb(255, 255, 255,70%);
        display: none;
    }
    .loginContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .loginContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .loginContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .loginContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .loginContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .loginContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .loginContainer .body .body-content {
        display: flex;
        justify-content: center;
        padding: 5vh 0;
    }
    .loginContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        padding: 2vh 7.5vw;
    }
    .loginContainer .body .body-content .content form input {
        width: 60vw;
        height: 4vh;
    }
}