*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
* a {
    text-decoration: none;
}
body {
    overflow: hidden;
}
.container {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.container .top{
    width: inherit;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #E5E4E2;
}
.container .top .left{
    display: flex;
}
.container .top .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container .top .left h2{
    display: flex;
    align-items: center;
}
.container .top .right button{
    width: 100px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(23, 222, 26);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.container .body{
    display: flex;
    width: inherit;
    height: 84vh;
    background-color: #F7F7F7;
}
.container .body .left{
    width: 60vw;
    height: inherit;
}
.container .body .left img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.container .body .right{
    width: 39vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .body .right .content {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 2px;
    background-color: #E5E4E2;
}
.container .body .right div {
    display: flex;
    justify-content: space-between;
}
.container .body .right .content div{
    margin: 10px 20px;
}
.container .body .right .content div p{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 222, 26);
}
.container .body .right .content div a{
    color: white;
}
.container .body .right .contactInfo {
    width: 25vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -1px;
    background-color: #F4F0EC;
    display: none;
}
.container .body .right .contactInfo .details{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}
.container .body .right .contactInfo .details #button{
    font-size: 1.5rem;
    background-color: #03C03C;
}
.container .body .right .contactInfo .details #button button{
    border: none;
    padding: 2px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.container .body .right .contactInfo .contact {
    width: inherit;
    height: 8vh;
    display: flex;
    padding: 0 10px;
    margin: 8px 0;
}
.container .body .right .contactInfo .contact #icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(23, 222, 26);
}
.container .body .right .contactInfo .contact #icon i{
    color: white;
}
.container .body .right .contactInfo .contact div {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.container .body .right .contactInfo .details .divider {
    border: 1px solid rgb(23, 222, 26);
}
/*Styling the sign up page*/
.signupContainer {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.signupContainer .top{
    width: inherit;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #E5E4E2;
}
.signupContainer .top .left{
    display: flex;
}
.signupContainer .top .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.signupContainer .top .left h2{
    display: flex;
    align-items: center;
}
.signupContainer .top .right{
    display: flex;
    justify-content: flex-end;
}
.signupContainer .top .right a {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(23, 222, 26);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupContainer .body{
    display: flex;
    width: inherit;
    height: 84vh;
    background-color: #F7F7F7;
}
.signupContainer .body .left{
    width: 60vw;
    height: inherit;
}
.signupContainer .body .left img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.signupContainer .body .right{
    width: 39vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupContainer .body .right form{
    width: 20vw;
    height: 50vh;
    padding: 2px;
    background-color: #E5E4E2;
    border-radius: 8px;
}
.signupContainer .body .right form #errorMessage{
    height: 15px;
    color: red;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    animation: fadeOut 5s forwards;
    overflow: hidden;
}
/*Creating an animation for the errorMessage*/
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.signupContainer .body .right form h3 {
    display: flex;
    justify-content: center;
}
.signupContainer .body .right form input {
    border: 1px solid;
}
.signupContainer .body .right form div{
    margin: 1px 0;
    padding: 5px 0;
}
.signupContainer .body .right form div input{
    border-radius: 5px;
    margin-left: 10px;
}
.signupContainer .body .right form button{
    margin: 10px 75px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(23, 222, 26);
    color: white;
    border: none;
}
.signupContainer .body .right form #account{
    display: flex;
    justify-content: center;
}
.signupContainer .body .right form a{
    color: #03C03C;
}
/*Styling the Log in page*/
.loginContainer {
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}
.loginContainer .top{
    width: inherit;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
     background-color: #E5E4E2;
}
.loginContainer .top .left{
    display: flex;
}
.loginContainer .top .left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loginContainer .top .left h2{
    display: flex;
    align-items: center;
}
.loginContainer .top .right{
    display: flex;
    justify-content: flex-end;
}
.loginContainer .top .right a {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(23, 222, 26);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer .body{
    display: flex;
    width: inherit;
    height: 84vh;
    background-color: #F7F7F7;
}
.loginContainer .body .left{
    width: 60vw;
    height: inherit;
}
.loginContainer .body .left img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.loginContainer .body .right{
    width: 40vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer .body .right form{
    width: 20vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 5px;
    background-color: #E5E4E2;
    border-radius: 8px;
}
.loginContainer .body .right form h3 {
    display: flex;
    justify-content: center;
}
.loginContainer .body .right form input {
    border: 1px solid;
}
.loginContainer .body .right form #main{
    border-radius: 5px;
    margin-left: 10px;
}
.loginContainer .body .right form div{
    display: flex;
    justify-content: space-between;
}
.loginContainer .body .right form button{
    margin: 5px 75px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(23, 222, 26);
    color: white;
    border: none;
}
.loginContainer .body .right form #account{
    display: flex;
    justify-content: center;
}
.loginContainer .body .right form a{
    color: #03C03C;
}

/*Media querrying*/
@media only screen  and (max-width:1000px) {
    /*Media-querying the landing page*/
    body {
        overflow: hidden!important;
    }
    .container .top {
        display: flex;
        flex-direction: column;
    }
    .container .top .left {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .container .top .right{
        width: inherit;
        display: flex;
        justify-content: end;
        padding-right: 15px;
        margin-bottom: 10px;
    }
    .container .body{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 84vh;
    }
    .container .body .left{
        width: inherit;
        height: 60vh;
    }
    .container .body .left img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .container .body .right{ 
        width: inherit;
        height: 39vh;
    }
    .container .body .right .content {
        width: fit-content;
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.2rem;
        margin-bottom: 80px;
    }
    .container .body .right .contactInfo {
        width: 90vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: -1px;
        display: none;
    }
    .container .body .right .contactInfo .details{
        padding: 5px 0;
        display: flex;
        flex-direction: column;
    }
    .container .body .right .contactInfo .contact {
        width: inherit;
        height: 8vh;
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin: 8px 0;
    }
    /*Media-querying the signup/login page*/
    .signupContainer .top {
        display: flex;
        flex-direction: column;
    }
    .signupContainer .top .left {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .signupContainer .top .right{
        width: inherit;
        display: flex;
        justify-content: flex-start;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    .signupContainer .body{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 84vh;
    }
    .signupContainer .body .left{
        width: inherit;
        height: 50vh;
    }
    .signupContainer .body .left img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .signupContainer .body .right{ 
        width: inherit;
        height: 49vh;
    }
    .signupContainer .body .right form{
        width: 60vw;
        height: 30vh;
    }
    /*Media querrying the log in page*/
    .loginContainer .top {
        display: flex;
        flex-direction: column;
    }
    .loginContainer .top .left {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .loginContainer .top .right{
        width: inherit;
        display: flex;
        justify-content: flex-start;
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    .loginContainer .body{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: 84vh;
    }
    .loginContainer .body .left{
        width: inherit;
        height: 50vh;
    }
    .loginContainer .body .left img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .loginContainer .body .right{ 
        width: inherit;
        height: 49vh;
    }
    .loginContainer .body .right form{
        width: 60vw;
        height: 30vh;
    }
}